.mod-card {
    border: 0;
    margin: $px-15 0;
    @include boxshadow;
    border-radius: $px-4;
    background-color:$blanco;
    padding:$px-20;
    width:98%;

    p {
        color: $gris-medio;
        font-size:$px-14;
        font-family: $font-default;
        padding:$px-10 0
    }
}