.com-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $border;
        border-radius: $px-3;
        position: relative;
        top: 10%;
        width: 50%;
        margin: auto;

        .--header {
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding: $px-15;
            border-bottom: 1px solid $gris-claro;

            .title {
                text-transform:uppercase;
                font-family: $font-titles;
                font-weight: bold;
                font-size:$font-20;
            }
        }

        .--body{
            padding: $px-15;
        }

        .--footer {
            border-top: 1px solid $gris-claro;
            padding: $px-15;
            text-align: right;
        }
    }
}
