.com-button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: $font-16;
    line-height:$line-16;
    border-radius: $px-5;
    color:$blanco;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor:pointer;
    
    &.--close {
        background:none;
        color:$negro;
        padding:0;
    }

    &.--save {
        background-color: $success;
    }

    &.--cancel {
        background-color: $delete;
    }

    &:hover {
        opacity:0.8;
    }

    i {
        margin-right:$px-5;
    }
}