.com-input {
    width:50%;
    padding: $px-7;
    font-size: $font-16;
    line-height: $line-16;
    color: $gris-medio;
    background-color: $blanco;
    background-clip: padding-box;
    border: 1px solid $border;
    border-radius:$px-5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


}

